APP_NAME= # Enter your Application Name
APP_ENV=testing
APP_KEY= # Enter your Application Key
APP_URL= # Enter your Application URL
APP_CURRENCY=USD

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_TIMEZONE=Europe/Moscow

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT= # Enter your DB port
DB_DATABASE= # Enter your DB name
DB_USERNAME= # Enter your DB login
DB_PASSWORD= # Enter your DB password

SESSION_DRIVER=array
CACHE_DRIVER=array
QUEUE_CONNECTION=sync
