# =========================================================
# Laravel / PHP
# =========================================================

# Composer dependencies
/vendor
composer.lock

# Environment variables
.env
.env.local
.env.*.local

# Laravel cache, logs, sessions
/bootstrap/cache/*.php
/node_modules
/public/build
/public/dist
/public/hot
/public/storage
/storage/framework/cache/data/*
/storage/logs/*.log
/storage/*.key
/storage/debugbar/*
/vendor
/.vite
/.cache
.env
.env.testing
npm-debug.log
yarn-error.log

# Vite environment variables
.env
.env.local
.env.*.local

# PHPUnit cache
.phpunit.result.cache

# ---------------------------------------------------------
# IDE / Editor files (PHPStorm, VSCode, Vim, etc.)
# ---------------------------------------------------------
/.idea
/*.iml
/.vscode
/.cursor
*.swp
*.swo

# ----------------------
# Docker
# ----------------------

# Volumes, tmp files, logs inside Docker
/infrastructure/docker/**/data/
/infrastructure/docker/**/logs/
/infrastructure/docker/**/tmp/
/infrastructure/docker/**/cache/
/infrastructure/docker/nginx/certs/temp.pem
/infrastructure/docker/nginx/certs/temp-key.pem
.docker/

# ---------------------------------------------------------
# OS files
# ---------------------------------------------------------

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# ----------------------
# Logs
# ----------------------
*.log
*.out

# ----------------------
# AI Prompts & Git Patches
# ----------------------
.ai